<div style="background-color: #b5121b; padding: 8px 5px; box-shadow: 2px 2px 1px #888888; bottom:0;margin-right: auto; margin-left: auto; width: 100%;text-align: center;">
	Copyright <i class="fa fa-copyright" style="color: black"></i> &nbsp;&nbsp;&nbsp;2016 Genesys
</div>