<html>
<head>
	<title></title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
	<% include header.ejs %>
	
	<div style="width: 85%; background-color: #eee; margin-right: auto; margin-left: auto; margin-top: 11px; height:100vh;">
		<br><br>
		<h2 style="margin: 60px 0 -10px 40px;display: inline;">Test Case Logs</h2><br>
		<hr><br>
		<div style="display: inline; width: 30%; float: left; height:100vh;">
			<% for(var i=0; i<testcases.length; i++) { %>
				<div class="all">
					<a href="<%= testcases[i]%>" style="color: white; text-decoration: none;"><%= testcases[i]%></a>
				</div>
			<% } %>
		</div>
		<div style="display: inline; overflow:scroll; width: 65%; float:right; height:85vh;margin-right: 40px;">
			<label style="margin: 10px 0 10px 120px; font-weight: bold;"><%= testcase%></label>
			<br>
			<pre><%= log%></pre>
		</div>
	</div>
	<% include footer.ejs %>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>