<html>
<head>
	<title></title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
	<% include header.ejs %>
	
	<div style="width: 85%; background-color: #eee; margin-right: auto; margin-left: auto; margin-top: 11px; height:100vh;">
		<br><br>
		<h2 style="margin: 60px 0 -10px 40px;display: inline;">Welcome, <%= user.username %></h2><br>
		<hr><br>
		<div style="display: inline; width: 30%; float: left; height:100vh;">
			<div class="all">
				<a href="/profile/info" style="color: white; text-decoration: none;">Info</a>
			</div>
			<div class="all">
				<a href="/profile/scheduler" style="color: white; text-decoration: none;">Scheduler</a>
			</div>
			<div class="all">
				<a href="/profile/logs" style="color: white; text-decoration: none;">Logs</a>
			</div>
		</div>
		<br>
	</div>
	<% include footer.ejs %>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>